<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Full Slider - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/full-slider.css" rel="stylesheet">

  </head>

  <body>

    {{> navigation}}

    <!-- Page Content -->
    <div id="landing-header">
      <h1>Welcome to Bloggr!</h1>
      <a href="/blogs" class="btn btn-lg btn-success">View All Blogs</a>
    </div>

    <header>
      <ul class="slideshow">
       <li></li>
       <li></li>
       <li></li>
      </ul>
    </header>

    {{#if error}}
      <p>{{error}}</p>
    {{else if success}}
      <p>{{success}}</p>
    {{/if}}

